.title{
    font-family: 'Comfortaa', sans-serif; /* Or Montserrat if you're using that */
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: #030405;
    margin-top: 40px;
    margin-left: 40px;
}
.banner-moto{
    object-fit: contain;
    width: 50%;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.banner-moto:hover {
  transform: translateY(-5px);
}
.banner-outline{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.moto-heading{
    font-size: 4rem;
    font-family: 'Comfortaa', sans-serif; /* Or Montserrat if you're using that */
    font-size: 2rem;
    text-align: left;
    color: #030405;
    margin-top: 40px;
    margin-left: 5%; 
    margin-right: 5%;
    width: 90%;   
}
.moto-content{
    font-size: 1.2rem;
    width: 90%;
    margin-left: 5%;
    font-family: 'Comfortaa', sans-serif; /* Or Montserrat if you're using that */
    text-align: left;
    color: #030405;
    margin-top: 20px;
}
.book-now-button{
    width: 100%;
  }
.book-now {
    all: unset;
    background-color: #030405;
    color: #FFFFFF;
    border: 1px solid #030405;
    border-radius: 8px;
    height: 40px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    cursor: pointer;
    line-height: 1;
    vertical-align: middle;
    transition: all 0.3s ease;
    width: auto; /* ✅ Prevent full width */
    max-width: max-content; /* ✅ Optional safeguard */
    margin-left: 5%;
    margin-top: 20px;
  }
    
  .book-now:hover {
    background-color: #FFFFFF;
    color: #030405;
    border: 1px solid #030405;
  }

  @media(max-width: 768px) {
    .book-now-button{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .title{
        text-align: center;
        margin-left: 0px;
    }
    .book-now {
      padding-right: 3rem !important;
      padding-left: 3rem !important;
      margin-left: 0px
    }
    .moto-heading{
        text-align: center;
        margin-left: 0px;
        font-size: 1.6rem;
    }
    .moto-content{
        font-size: 1rem;
    }
    
  }

  @media (max-width: 425px){
    .title{
        font-size: 1.2rem;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
    .moto-heading{
        font-size: 1.4rem;
    }
  }
  
