.header-outline {
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 10px;
    justify-content: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .header-logo {
    transition: transform 0.3s ease-in-out;
  }
  
  .header-logo:hover {
    transform: translateY(-5px);
  }
  
  .header-nav {
    display: flex;
    gap: 30px;
    margin-left: 70px;
    align-items: center;
  }

  .header-lang {
    display: flex;
    gap: 30px;
    position: fixed;
    right: 200px;
    align-items: center;
  }
  
  .nav-title {
    position: relative;
    color: #030405;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .nav-title:hover {
    color: #22C58B;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: white;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 999;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px 15px;
    color: #030405;
    text-decoration: none;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
  }
  .dropdown-item {
    display: flex;
    padding: 10px 15px;
    color: #030405;
    text-decoration: none;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .dropdown-content a:hover {
    color: #22C58B;
    transform: translatex(5px);
  }

  .dropdown-item:hover {
    color: #22C58B;
    transform: translatex(5px);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  