.banner-container {
  width: 90%;
  border-radius: 12px;
  margin-top: 20px;
  margin-top: 100px !important;
  background: url(/img/banner.png) center/cover no-repeat;
  display: flex;
  height: 60vh;
  justify-content: flex-start;
  align-items: center;
}
  
  .banner-text {
    color: white;
    text-align: left;
  }
  
  .banner-text h1 {
    font-family: var(--font-montserrat);
    margin: 0;
    margin-left: 60px;
    font-size: 3rem;
  }
  
  .banner-text p {
    font-family: var(--font-montserrat);
    margin-top: 10px;
    margin-left: 60px;
    font-size: 1.2rem;
  }

  .home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .vehicle img{
      transition: transform 0.3s ease-in-out;
  }

  .vehicle img:hover {
    transform: translateY(-5px);
  }

  .home-content h1 {
    font-family: var(--font-montserrat);
    width: 90%;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: #030405;
  }

  .vehicle-heading{
    width: 100%;
    text-align: center;
    color: #030405;
    font-size: 2rem;
    font-family: var(--font-montserrat);
  }

  .vehicle-container{
    width: 100%;
    padding: 0 0 60 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .vehicle{
    width: 25%;
    color: #030405;
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--font-montserrat);
  }

  @media (max-width: 768px){
    .banner-text p {
      font-size: .8rem;
      margin-left: 30px;
    }
    
    .banner-text h1 {
      font-size: 1.8rem;
      margin-left: 30px;
    }
    .home-content h1{
      font-size: 1.8rem;
    }
    .vehicle-container {
      flex-direction: column;
    }
    .vehicle {
      width: 90%;
    }
  }

  @media (max-width: 425px){

    .banner-text p {
      margin-left: 20px;
    }
    
    .banner-text h1 {
      font-size: 1.6rem;
      margin-left: 20px;
    }
    .home-content p {
      font-size: .8rem;
    }
    .home-content h1{
      font-size: 1.6rem;
    }
    .vehicle-heading {
      font-size: 1.6rem;
    }
  }